@font-face{
    font-family: 'Quicksand-Medium';
    font-weight: 500;
    font-style:normale;
    src:local('Quicksand-Medium'),
    url('../fonts/Quicksand-Bold.woff') format('woff');
    display:swap;
}

@font-face{
    font-family: 'Quicksand-Regular';
    font-weight: 400;
    font-style:normale;
    src:local('Quicksand-Regular'),
    url('../fonts/Quicksand-Regular.woff') format('woff');
    display:swap;
}

@font-face{
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-style:normale;
    src:local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.woff') format('woff');
    display:swap;
}

@font-face{
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-style:normale;
    src:local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    display:swap;
}