
    .top__slider{
        background-image: url('../images/bg__slider.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color:#f6f6f6;
        padding-top:65px 0 45px;
        margin-bottom: 35px;
        &-title{
            max-width:670px;
            font-size:58px;
            line-height: 68px;
            color:$title;
            @extend %roboto-700;
        }

        &-item{
            display:flex !important;
            justify-content: space-between;
        }

        &-content{
            padding-top:125px;
            padding-left:175px;
        }

        &-text{
            margin-bottom: 55px;
            max-width: 470px;
        }

        &-link{
            @extend %btn;
            padding: 14px 36px;
        }

        .slick-dots{
            display:flex;
            justify-content: center;
            padding-top:-70px;
            li{
                padding: 0 5px;
                line-height: 0;
                button{
                    font-size: 0;
                    outline:none;
                    background-color:transparent;
                    width:26px;
                    height: 26px;
                    border-radius:50%;
                    border:1px solid transparent;
                    position:relative;
                    &::before{
                        content:'';
                        width: 6px;
                        height: 6px;
                        border-radius:50%;
                        background-color:$default;
                        top:50%;
                        left:50%;
                        transform:translate(-50%, -50%);
                        position:absolute;
                    }
                }
                 &.slick-active{
                button{
                    border-color: $accent;
                }
            }
        }
    }
}