<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marchio</title>
    <link rel="stylesheet" href="css/login.min.css">
</head>
<body>
   {% include ('app/module/header/_header.html') %}
    <main class="main">
{% include ('app/module/top/_top.html') %}     
{% include ('app/module/login/_login.html') %}
        
    </main>
{% include ('app/module/footer/__footer.html') %}
   
 <script src="js/main.min.js"></script>   
</body>
</html>