
.header{
    padding:40px 0;
    &__inner{
        display:flex;
        justify-content: space-between;
        align-items:center;
        flex-wrap: wrap;
    }
}

.menu{
    &__btn{
        display:none;
    }
    &__list{
        display:flex;
    }

    &__list-item + .menu__list-item{
    padding-left:35px;
    }

    &__list-link{
        color:$title;
        padding:0 2px;
        &:hover{
            color:$accent;
            border-bottom: 1px solid $accent;
            padding-bottom:1px;
            transition:all .3s;
            @extend %roboto-700;
        }
    }

    &__list-link--active{
        color:$accent;
        border-bottom: 1px solid $accent;
        @extend %roboto-700;
    }

}

.user__nav{
    display:flex;

    &-link{
    position:relative;
    }

    &-link + .user__nav-link{
        padding-left:25px;
    }
}

.user-nav__num{
    position:absolute;
    width:20px;
    height: 20px;
    border-radius:50%;
    background-color: $accent;
    top:-10px;
    right:-14px;
    color:#fff;
    font-size:12px;
    text-align:center;
    line-height: 20px;
}



    .top{
        &-container{
        max-width: 1700px;
        margin:0 auto;
        background-size:cover;
        background-repeat: no-repeat;
        background-position:top center;
        padding: 120px 0 130px;
        text-align: center;
        }
    }

    @media (max-width: 1200px){
    .header{
     &__inner{
     padding-right: 10px;
    }
}
}
@media (max-width: 860px){
    .menu__list-item+.menu__list-item {
        padding-left: 15px; 
}
    .menu{
        order:1;
        margin-left:40px;
        &__list{
            transform:translateY(-200%);
            position: absolute;
            width: 100%;
            top:120px;
            left:0;
            flex-direction: column;
            align-items:center;
            z-index:5;
            transition:all .3s;
        &.menu__list--active{
            transform:translateY(0);
            background-color:#fff;
            }
        }

        &-link + .user__nav-link{
        padding-left:15px;
        }
        &__list-item {
            width:100%;
            padding:0 15px;
        }
        &__list-link{
            width:100%;
            padding:0 12px;
            text-align: center;
            display: block;
        }
      
        &__btn{
            width: 30px;
            height: 22px;
            border:none;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items:center;
            position: relative;
            padding:0;
        span{
            width: 30px;
            height: 3px;
            background-color: $title;
        }
        &::after,
        &::before{
            position: absolute;
            content:'';
            width: 30px;
            height: 3px;
            background-color: $title;
        }
        &::before{
            top:0;
        }
        &::after{
            bottom:0;
        }
    }
        .user__nav{
            margin-left:auto;
        }
    }
}

@media (max-width: 500px){
    .user__nav{
    width:100%;
    justify-content: flex-end;
    margin-top: 35px;
    padding-right: 15px;
    }
    .menu{
    order:0;
    }
    .header{
     &__inner{
     padding-right: 0;
    }
    }
    
}